<%= error_messages_for(@stud) %> 
<table summary="Students form fields">
      <tr>
        <th><%= f.label(:name) %></th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th><%= f.label(:username) %></th>
        <td><%= f.text_field(:username) %></td>>
      </tr>
      <tr>
        <th><%= f.label(:password) %></th>
        <td><%= f.password_field(:password) %></td>>
      </tr>
      <tr>
        <th><%= f.label(:std) %></th>
        <td><%= f.text_field(:std) %></td>
      </tr>
      <tr>
        <th><%= f.label(:section) %></th>
        <td><%= f.text_field(:section) %></td>
      </tr>
      <tr>
        <th><%= f.label(:email_id) %></th>
        <td><%= f.text_field(:email_id) %></td>
      </tr>
      <tr>
        <th><%= f.label(:mobile_number) %></th>
        <td><%= f.text_field(:mobile_number) %></td>
      </tr>
    </table>